<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="\css\home.css" />
    
  </head>

  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <section class="carrusel">
        <img
          class="botines"
          src="\images\botines.jpg"
          alt="Imagen de botines"
        />

        <button class="botones boton--izquierdo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="boton-icono"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </button>

        <button class="botones boton--derecho">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="boton-icono"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </button>

        <div class="comprar">
          <p>Comprar</p>
        </div>
        <div class="mas-info">
          <p>Más Info</p>
        </div>

        <div class="puntos">
          <button class="punto punto--relleno"></button>
          <button class="punto"></button>
          <button class="punto"></button>
          <button class="punto"></button>
        </div>
      </section>

      <section class="seccion-productos">
        <div class="container">
          <p class="lo-mejor">Lo mejor de la temporada</p>
          <h2 class="heading-secundario">Productos Destacados</h2>
        </div>
        <div class="container productos">
          <article class="producto en-oferta">
            <img
              class="producto-img"
              src="\images\zapatillas.jpg"
              alt="Zapatillas"
            />
            <div class="detalle-productos">
              <div class="producto-tags">
                <span class="tag tag--general">Calzado</span>
              </div>
              <p class="producto-titulo">Adidas Z32</p>
              <div class="precio-compra">
                <div class="precio">
                  <p>$30</p>
                </div>
                <div class="compra">
                  <a href="/productDetail">
                    <p>Comprar</p>
                  </a>
                </div>
              </div>
            </div>
          </article>
          <article class="producto">
            <img
              class="producto-img"
              src="\images\pelotadefutbol.jpg"
              alt="Pelota de futbol"
            />
            <div class="detalle-productos">
              <div class="producto-tags">
                <span class="tag tag--futbol">Fútbol</span>
                <span class="tag tag--pelotas">Pelotas</span>
              </div>
              <p class="producto-titulo">Pelota Champions</p>
              <div class="precio-compra">
                <div class="precio">
                  <p>$25</p>
                </div>
                <div class="compra">
                  <a href="#">
                    <p>Comprar</p>
                  </a>
                </div>
              </div>
            </div>
          </article>
          <article class="producto">
            <img class="producto-img" src="\images\esqui2.jpg" alt="Esqui" />
            <div class="detalle-productos">
              <div class="producto-tags">
                <span class="tag tag--esqui">Esqui</span>
                <span class="tag tag--accesorios">Accesorios</span>
              </div>
              <p class="producto-titulo">Esquis</p>
              <div class="precio-compra">
                <div class="precio">
                  <p>$70</p>
                </div>
                <div class="compra">
                  <a href="#">
                    <p>Comprar</p>
                  </a>
                </div>
              </div>
            </div>
          </article>
          <article class="producto en-oferta">
            <img
              class="producto-img"
              src="\images\pelotadetenis.jpg"
              alt="Pelota de tenis"
            />
            <div class="detalle-productos">
              <div class="producto-tags">
                <span class="tag tag--tenis">Tenis</span>
                <span class="tag tag--pelotas">Pelotas</span>
              </div>
              <p class="producto-titulo">Pelota de Tenis</p>
              <div class="precio-compra">
                <div class="precio">
                  <p>$10</p>
                </div>
                <div class="compra">
                  <a href="#">
                    <p>Comprar</p>
                  </a>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
