/*********************/
/* Login y Registro */
/********************/

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  margin: 10rem auto 30rem;
  padding: 10px;
  border-radius: 8px;
  background-color: #222;
  color: #ffffffff;
  height: 40rem;
  max-width: 75rem;
  box-shadow: 0px 0px 5px rgb(90, 90, 90);
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.login-titulo {
  font-size: 2.4rem;
  display: flex;
}

.login-navbar {
  width: 50%;
}

.login-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.6rem;
  padding: 1rem 0 2rem 0;
}

.login-nav a {
  text-decoration: none;
  color: #ffffffff;
  padding: 2rem 4rem;
}

.iniciar-sesion {
  border-bottom: 3px solid #eafa35;
}

.inputUsuario,
.inputPassword {
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.login-recordarme-contraseñaOlvidada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0 1rem 1rem;
}

.login-recordardme {
  display: flex;
  align-items: center;
}
.recordarme {
  margin: 0.4rem;
}

.forget-password {
  display: flex;
  text-decoration: none;
  color: #eafa35;
}

.forget-password:hover {
  text-decoration: underline;
}

.button-ingresar {
  border: none;
  background-color: #eafa35;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.button-ingresar:hover {
  cursor: pointer;
  background-color: #f0fc72;
}
