    
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\login.css" />
    
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="login-container">
        <h2 class="login-titulo">INICIAR SESIÓN</h2>
        <div class="login-navbar">
          <ul class="login-nav">
            <li>
              <a href="/login" class="iniciar-sesion"> Iniciar Sesión </a>
            </li>
            <li><a href="/register" class="registrarme"> Registrarme </a></li>
          </ul>
        </div>
        <form action="/" method="GET" autocomplete="on">
          <div class="login-nombreUsuario">
            <input
              type="email"
              class="inputUsuario"
              placeholder="Email"
              required
              autocomplete="username"
            />
          </div>
          <div class="login-contraseña">
            <input
              type="password"
              class="inputPassword"
              placeholder="Contraseña"
              required
              autocomplete="current-password"
            />
          </div>
          <div class="login-recordarme-contraseñaOlvidada">
            <div class="login-recordarme">
              <input
                type="checkbox"
                value="recordarme"
                name="recordarme"
                id="recordarme"
              />
              <label class="recordarme">Recordarme</label>
            </div>
            <a href="#" class="forget-password">¿Olvidaste tu Contraseña?</a>
          </div>

          <div class="login-buttonIngresar">
            <button type="submit" class="button-ingresar">
              Iniciar Sesión
            </button>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
