<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\register.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="register-container">
        <h2 class="register-titulo">REGISTRARME</h2>
        <div class="register-navbar">
          <ul class="register-nav">
            <li>
              <a href="/login" class="iniciar-sesion"> Iniciar Sesión </a>
            </li>
            <li><a href="/register" class="registrarme"> Registrarme </a></li>
          </ul>
        </div>
        <form action="/" method="GET">
          <div class="data-container">
            <div class="datos-personales">
              <h3>Datos personales</h3>

              <div class="reg-nombreCompleto">
                <input
                  type="text"
                  class="inputNombre"
                  placeholder="Nombre"
                  required
                />
              </div>
              <div class="reg-apellido">
                <input
                  type="text"
                  class="inputApellido"
                  placeholder="Apellido"
                  required
                />
              </div>
              <div class="form-birthday">
                <p>Fecha de Nacimiento</p>
                <input type="date" class="inputFecha" id="fechaNac" />
              </div>
              <div class="reg-genero">
                <p>Género</p>
                <input
                  list="genero"
                  class="inputGenero"
                  placeholder="Seleccionar"
                />
                <datalist id="genero">
                  <option value="Mujer"></option>
                  <option value="Hombre"></option>
                  <option value="Otro"></option>
                </datalist>
              </div>
              <div class="reg-telefono">
                <input
                  type="tel"
                  class="inputTelefono"
                  placeholder="Telefono"
                />
              </div>
            </div>

            <div class="sobre-mi-cuenta">
              <h3>Sobre mi cuenta</h3>

              <div class="reg-email">
                <input
                  type="email"
                  class="inputEmail"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="reg-conf-email">
                <input
                  type="email"
                  class="inputEmail"
                  placeholder="Confirmar Email"
                  required
                />
              </div>
              <div class="reg-contraseña">
                <input
                  type="password"
                  class="inputPassword"
                  placeholder="Contraseña"
                  required
                />
              </div>
              <div class="reg-conf-contraseña">
                <input
                  type="password"
                  class="inputPassword"
                  placeholder="Confirmar contraseña"
                  required
                />
              </div>
              <div class="deportes-favoritos">
                <p>¿Cuál es tu deporte favorito?</p>
                <input
                  list="deporte-favorito"
                  class="deporte-favorito"
                  placeholder="Seleccionar"
                />
                <datalist id="deporte-favorito">
                  <option value="Futbol"></option>
                  <option value="Tenis"></option>
                  <option value="Basquet"></option>
                  <option value="Running"></option>
                </datalist>
              </div>
            </div>
            <div class="register-radio-button">
              <input type="radio" name="newsletter" value="newsletter" />
              <label class="newsletter"
                >Quiero recibir email con ofertas y promociones</label
              >
            </div>
          </div>
          <div class="button-register">
            <button type="submit" class="button-register">
              Crear mi cuenta
            </button>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
