<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\creation-edition.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
      

    <main>
      <center>
      <div class="form-container">
        <form
          action="/products/create"
          enctype="multipart/form-data"
          method="POST">

          <div class="register-container">
            <h1 class="register-title">Crea un nuevo producto</h1>
        
            
          <div class="data-container">
            <div class="article-data ">
                  
              <div class="properties-label">
                <label>Marca</label>
                  <input
                    type="text"
                    class="inputNombre"
                    id="brand"
                    name="brand"
                    required
                  />
              </div>
                  
              <div class="properties-label">
                <label>Nombre del articulo</label>
                <input
                  type="text"
                  class="inputNombre"
                  id="name"
                  name="name"
                  required
                />
              </div>
                  
              <div class="properties-label">
                <label>Descripcion</label>
                <input
                  type="text"
                  class="inputdescripcion"
                  id="description"
                  name="description"
                  required
                />
              </div>
    
              <div class="properties-label">
                <label>Año</label>
                <input
                  type="text"
                  class="inputdescripcion"
                  id="year"
                  name="year"
                  required
                />
              </div>

              <div class="properties-label" >
                <label>Categoría</label>
                <input
                  type="text"
                  class="inputdescripcion"
                  id="category"
                  name="category"
                  required
                />
              </div>
                  
              <div class="properties-label">
                <label>Seleccionar la talla</label>
                <input 
                  type="text"
                  name="size" 
                  class="inputdescripcion" 
                  id="size"
                  required
                />
              </div>
                  
              <div class="properties-label">
                <label>Precio</label>
                <input
                  value=""
                  type="text"
                  class="inputdescripcion"
                  id="price"
                  name="price"
                  required
                />
              </div>
                  
              <div>
                <label class="properties-label">Agregar imagen</label>
                  <div class="file-select" id="src-file2">
                    <input
                      class="inputfile"
                      type="file"
                      accept=".jpg,.png"
                      name="image"
                      id="image"
                    />
                  </div>
              </div>

              <nav class="bot">
                <center>
                  <input
                    class="button"
                    name="Crear"
                    value="Crear"
                    type="submit"
                  />
          </form>
        </div>
      </center>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
